

<style>
	.card-recommended {
		height: auto;
		width: 250px;
		background-color: #F9E79F;
		border-radius: 5px;
		margin: 2% auto;
	}
		.card-recommended .card-heading {
			border: 2px black solid;
			border-radius: 5px;
			height: auto;
			width: 250px;
			background-color: #C0392B;
		}

	.card-heading h6 {
		text-align: center;
	}

	.text {
		font-size: 12px;
	}
</style>

<div class="col-4">
	<div class="card-recommended">
		<div class="card-heading bg-warning">
				<h6 style="padding: 2px"><b>@CourseName</b></h6>
				<h6 style="padding: 2px">@CourseCode</h6>
		</div>
		<div>
			<div class="card-body">
				<p><b>Description</b><p class="text">@Description</p> </p>
				<p><b>Prerequisites</b> <p class="text">@Prereq</p></p>
			</div>
		</div>
	</div>
</div>


@code{

	[Parameter]
	public string CourseName { get; set; }

	[Parameter]
	public string CourseCode { get; set; }

	[Parameter]
	public string Description { get; set; }

	[Parameter]
	public string Prereq { get; set;}

}