<div class="modal-container">
	<div class="list-header"> @Building </div>
	<div class="column">
		<div class="list-container">
			<img src= "@Location" alt="Campus Map">
			
		</div>
		<div class="buttons-container">
				<button class="white-button-1" @onclick="Cancel">Close</button>
		</div>
	</div>
</div>

@code {

	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
	[Parameter] public string? Location {get; set;}
	[Parameter] public string? Building {get; set;}
	
	private async Task SubmitForm() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
	private async Task Cancel() => await BlazoredModal.CancelAsync();

}

<style>
	.modal-container {
		display: flex;
		flex-direction: column;
	}

	.list-header {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: .5rem;
	}

	.list-container {
		display: flex;
		flex-direction: column;
		border: 2px solid orange;
		padding: 1rem;

		overflow: auto;
		border-radius: 5px;
	}

	.buttons-container {
		display: flex;
		flex-direction: row;
		margin-top: 2rem;
		justify-content: flex-end;
		column-gap: .5rem;
	}
</style>