@using System.Globalization

<style>
    .fa-times {
        color: red;
    }

    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none !important;
    }

    .btn:hover {
        transform: scale(1.1);
    }
</style>

<div class="card p-2">
    <table class="table">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">Monday</th>
            <th class="text-center">Tuesday</th>
            <th class="text-center">Wednesday</th>
            <th class="text-center">Thursday</th>
            <th class="text-center">Friday</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 8; i <= 18; i++)
        {
            <tr>
                <td class="text-center">@FormatTime(i)</td>
                @foreach (DayOfWeek dayOfWeek in Enum.GetValues(typeof(DayOfWeek)))
                {
                    if (dayOfWeek != DayOfWeek.Saturday && dayOfWeek != DayOfWeek.Sunday)
                    {
                        @((MarkupString)GetCourseCell(dayOfWeek, i))
                    }
                    
                }
            </tr>
        }
    </tbody>
</table>
</div>


@code {


    public class Course
    {
        public string Name { get; set; } = string.Empty;
        public TimeSpan StartTime { get; set; }
        public TimeSpan EndTime { get; set; }
        public List<DayOfWeek> DaysOfWeek { get; set; }
    }

    private List<Course> Courses = new List<Course>
    {
        new Course { 
            Name = "CPSC 571", 
            StartTime = TimeSpan.FromHours(14).Add(TimeSpan.FromMinutes(0)), 
            EndTime = TimeSpan.FromHours(15).Add(TimeSpan.FromMinutes(15)),
            DaysOfWeek = new List<DayOfWeek>{ DayOfWeek.Tuesday, DayOfWeek.Thursday } 
        },
        new Course { 
            Name = "CPSC 513", 
            StartTime = TimeSpan.FromHours(12).Add(TimeSpan.FromMinutes(30)),
            EndTime = TimeSpan.FromHours(13).Add(TimeSpan.FromMinutes(45)),
            DaysOfWeek = new List<DayOfWeek>{ DayOfWeek.Tuesday, DayOfWeek.Thursday } 
        },
        new Course {
            Name = "SOCI 201", 
            StartTime = TimeSpan.FromHours(10),
            EndTime = TimeSpan.FromHours(10).Add(TimeSpan.FromMinutes(50)), 
            DaysOfWeek = new List<DayOfWeek>{ DayOfWeek.Monday, DayOfWeek.Wednesday, DayOfWeek.Friday } 
        },
        new Course {
            Name = "CPSC 583",
            StartTime = TimeSpan.FromHours(14),
            EndTime = TimeSpan.FromHours(14).Add(TimeSpan.FromMinutes(50)),
            DaysOfWeek = new List<DayOfWeek>{ DayOfWeek.Monday, DayOfWeek.Wednesday, DayOfWeek.Friday }
        },
        new Course {
            Name = "GLGY 305",
            StartTime = TimeSpan.FromHours(12),
            EndTime = TimeSpan.FromHours(12).Add(TimeSpan.FromMinutes(50)),
            DaysOfWeek = new List<DayOfWeek>{ DayOfWeek.Monday, DayOfWeek.Wednesday, DayOfWeek.Friday }
        },
    };

    private string FormatTime(int hour)
    {
        if (hour == 12)
            return "12 PM";
        else if (hour > 12)
            return $"{hour - 12} PM";
        else
            return $"{hour} AM";
    }

    private string GetCourseCell(DayOfWeek day, int row)
    {
        StringBuilder sb = new StringBuilder();
        var coursesOnDay = Courses.Where(c => c.DaysOfWeek.Contains(day));
        bool merged = false;

        foreach (var course in coursesOnDay)
        {
            var startRow = (int)course.StartTime.TotalHours;
            var endRow = (int)course.EndTime.TotalHours;

            for (int j = startRow; j <= endRow; j++)
            {
                if (row == j)
                {
                    int rowspan = endRow - startRow + 1;

                    if (j == startRow)
                    {
                        sb.Append($"<td style='background-color: #FFD16B; text-align: center; vertical-align: middle; position: relative;' rowspan={rowspan}>");
                        sb.Append($"{course.Name}<button class='btn btn-x float-end px-2' style='position: absolute; top: 0; right: 0; padding: 0;'><i class='fa fa-times'></i></button></td>");
                        merged = true;
                    }
                    else
                    {
                        merged = true;
                    }

                }
            }
        }

        if (merged)
        {
            return sb.ToString();
        }
        else
        {
            sb.Append("<td></td>");
            return sb.ToString();
        }
    }

}