	
<div class="nav-bar">
	<div class="title">
		<span>Schedule Builder</span>
	</div>
	<nav class="nav-bar-items">
		<div class="nav-button">
			<NavLink class="nav-button-link" title="Search Recommended Courses and Add them to Selections/Bookmarks" href="" Match="NavLinkMatch.All">
				<span class="oi oi-grid-three-up" aria-hidden="true"></span> Browse
			</NavLink>
		</div>
		<div class="nav-button">
			<NavLink class="nav-button-link" title="Add the Selected/Bookmarked Courses to the timetable and Finalize them" href="map">
				<span class="oi oi-calendar" aria-hidden="true"></span> Plan
			</NavLink>
		</div>
		<div class="nav-button">
			<NavLink class="nav-button-link" title="Share the schedule with friends" href="share">
				<span class="oi oi-share" aria-hidden="true"></span> Share
			</NavLink>
		</div>
	</nav>
</div>


@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		// collapseNavMenu = !collapseNavMenu;
	}
}
