@page "/"
<PageTitle>Browsing</PageTitle>

<style>
	.searchform {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
		gap: 5%;
	}

	.searchform-control {
		width: 500px;
		height: 100px;
	}

	.search-input {
		width: 500px;
		height: 40px;
		border: 3px solid black;
		border-radius:8px;
	}

	.search {
		margin-top: 3%;
	}

	.recommended {
		margin-top: 3%;
	}

	}
</style>

<div class="container">
	<div class="row">
		<div class="col-8">
			<div class="search">
				<form class="searchform-control searchform">
					<div>
					<input class="search-input" type="text" placeholder="Search Courses" aria-label="Search">
					</div>
					<div>
					<button class="btn btn-info btn-md" type="submit">Search</button>
					</div>
				</form>
			</div>

			<div class="recommended">
				<div>
					<h1>Recommended Courses (Based on degree)</h1>
				</div>

				<div class="container">
					<div class="row">
					@for(int i=0; i < 6; i++)
					{
					<CourseRecommeded></CourseRecommeded>
					}
					</div>
				</div>
				</div>
		</div>
		<div class="col-4">
			<h1>BookMarks and Selections</h1>
		</div>
	</div>

</div>


@code {


}