@page "/map"

<PageTitle>Map</PageTitle>

    <div class = "map">
        <img src="/MapImages/ST.png" alt="Campus Map">
    </div>  



<style>
img {
    max-width: 100%}
.map {
    flex-basis: 100%;
    background-color: powderblue;
    align-items:center;
    }
</style>

@code {
    private bool tab1 = true;
    private bool tab2 = false;

    public void ActiveTab(int TabNumber) {
        switch(TabNumber) {
            case 1:
                this.tab1 = true;
                this.tab2 = false;
                break;
            case 2:
                this.tab1 = false;
                this.tab2 = true;
                break;
        }
    }
}