@page "/map"

<PageTitle>Map</PageTitle>

<!-- Move this button wherever -->

<button @onclick="@(() => Modal.Show<FinalizeScheduleModal>("Summary", options))">Finalize</button>

<h1>Planning</h1>
<!-- Default switch -->
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span> 
</label>
Map View

<div class="map-and-cards">
    <div class = "map">
        <img src="/MapImages/BlankCampusMap.png" alt="Campus Map">
    </div>  
</div>



<style>
img {
    max-width: 100%}
.map {
    flex-basis: 100%;
    background-color: powderblue;
    align-items:center;
    }
</style>

@code {
    private bool tab1 = true;
    private bool tab2 = false;
    [CascadingParameter] public IModalService Modal { get; set; }
    private ModalOptions options = new ModalOptions()
        {
            Position = ModalPosition.Middle,
            Size = ModalSize.Large,
            HideCloseButton = true,
            DisableBackgroundCancel = true
        };

    public void ActiveTab(int TabNumber) {
        switch(TabNumber) {
            case 1:
                this.tab1 = true;
                this.tab2 = false;
                break;
            case 2:
                this.tab1 = false;
                this.tab2 = true;
                break;
        }
    }
}
