@page "/map"

<PageTitle>Map</PageTitle>

    <div class = "map">
        <img src="/MapImages/All.png" alt="Campus Map">
    </div>  



<style>
img {
    max-width:100%;
    height: 69vh;
}
.map {
    flex-basis: 100%;
    text-align: center;
    }
</style>

@code {
  
}
