@page "/map"

<PageTitle>Map</PageTitle>

    <div class = "map">
        <img src="/MapImages/All.png" alt="Campus Map">
    </div>  



<style>
img {
    max-width: 100%}
.map {
    flex-basis: 100%;
    align-items:center;
    }
</style>

@code {
  
}