@page "/plan"
<h1>Planning</h1>

<!-- Move this button wherever -->
<button class="orange-button-1" @onclick="@(() => Modal.Show<FinalizeScheduleModal>("Summary", options))">FINALIZE</button>
<!-- Default switch -->
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span> 
</label>
Map View

<div class="map-and-cards">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <Map />
            </div>

            <div class="col-4">
                <SidePanel />
            </div>
        </div>

    </div>


</div>






<style>
.map-and-cards {
    display:flex;
    flex-grow: 1;
    }

<!-- toggle -->
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}
.switch input {
    opacity:0;
    width:0;
    height:0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffd16b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>
@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    private ModalOptions options = new ModalOptions()
        {
            Position = ModalPosition.Middle,
            Size = ModalSize.Large,
            HideCloseButton = true,
            DisableBackgroundCancel = true
        };
}
