@page "/plan"
<h1>Planning</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">     
        </div>
        <div class="col-6">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span> 
            </label>
            Map View
        </div>
    </div>
</div>
<div class="map-and-cards">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <Map />
            </div>

            <div class="col-4">
                <SidePanelPlanning />
            </div>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-8" style="text-align: center">     
            <button title="Previous Schedule" class="btn btn-warning"><i class="arrow left" style="margin-top:20%"></i></button>
            <button title="Next Schedule" class="btn btn-warning"><i class="arrow right" style="margin-top:20%"></i></button>
        </div>
        <div class="col-4" style="text-align: center">
            <!-- Move this button wherever -->
            <button class="orange-button-1" @onclick="@(() => Modal.Show<FinalizeScheduleModal>("Summary", options))">FINALIZE</button>
        </div>

    </div>
</div>






<style>
.map-and-cards {
    display:flex;
    flex-grow: 1;
    }

<!-- toggle -->
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}
.switch input {
    opacity:0;
    width:0;
    height:0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffd16b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

.arrow {
  border: solid black;
  border-width: 0 10px 10px 0px;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

}










</style>
@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    private ModalOptions options = new ModalOptions()
        {
            Position = ModalPosition.Middle,
            Size = ModalSize.Large,
            HideCloseButton = true,
            DisableBackgroundCancel = true
        };
}
