@page "/"
@layout SelectionSemesterLayout
@inject NavigationManager NavigationManager

<body style="background-color:#F4F6F7">
	<div class="selection-container">
	<div>
	<h1 >Choose Your Semester</h1>
	</div>
	<div class="sem">
		<div class="sembox">
			<div class="butbox">
				<a href="browse" class="btn btn-lg btn-primary">Winter 2023</a>
			</div>
			<div class="butbox">
					<a href="browse" class="btn btn-lg btn-primary">Spring/Summer 2023</a>
			</div>
			<div class="butbox">
					<a href="browse" class="btn btn-lg btn-primary">Fall 2023</a>
			</div>
			<div class="butbox">
					<a href="browse" class="btn btn-lg btn-primary">Winter 2024</a>
			</div>
		</div>
	</div>
	</div>
</body>

@code {

}
