@page "/selection"

<body style="background-color:#F4F6F7">
	<div>
	<h1 >Choose Your Semester</h1>
	</div>
	<div class="sem">
		<div class="sembox">
			<div class="butbox">
				<button class="btn btn-lg btn-primary">Winter 2023</button>
			</div>
			<div class="butbox">
				<button class="btn btn-lg btn-primary">Spring/Summer 2023</button>
			</div>
			<div class="butbox">
				<button class="btn btn-lg btn-primary">Fall 2023</button>
			</div>
			<div class="butbox">
				<button class="btn btn-lg btn-primary">Winter 2024</button>
			</div>
		</div>
	</div>
</body>

@code {

}
