@page "/"
@layout SelectionSemesterLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject CPSC481CourseScheduler.Services.ICourseService _CourseService;

<body>
	<div class="selection-container">
	<div>
	<h1 >Choose Your Semester</h1>
	</div>
	<div class="sem">
		<div class="sembox">
				@foreach (var semester in SemesterList)
				{
					<div class="butbox">
						<a href="browse" class="btn btn-lg btn-primary">@semester.SemesterDisplayName</a>
					</div>
				}
		</div>
	</div>
	</div>
</body>

@code {

	List<Semester> SemesterList = new List<Semester>();

	protected override void OnInitialized()
	{
		SemesterList = _CourseService.GetAllSemesters();
	}
}
