h1 {
    text-align: center;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
    margin: 10% auto"
}

.sem {
    margin: 2% auto;
}

.sembox {
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #784212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
}

.butbox {
    margin: 2% auto;
}
