h1 {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-size: 3rem;
}

.sem {
    margin: 2%;
    padding-bottom: 2%;
}

.sembox {
    margin: auto;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: #F5B041;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
    margin-bottom: 2%;
}

.butbox {
    margin: 2% auto;
}

.selection-container {
    margin: auto;
    margin-top: 10%;
    width: 30%;
}

.semester-selection-title {
    font-weight: bold;
    font-size: 20px;
    padding: .5rem 0 .5rem 1rem;
    border: 3px solid orange;
    border-radius: 8px 8px 0 0;
}
