@page "/side-panel"

  
<div class="side-panel">
    <div class="tab">
        <button style="@(tab1?"background-color:#ffd16b;":"")" @onclick="x=>ActiveTab(1)"> <h3 style="font-size:1vw"> Selected Courses </h3> </button>
        <button style="@(tab2?"background-color:#ffd16b;":"")" @onclick="x=>ActiveTab(2)"> <h3 style="font-size:1vw"> Bookmarks </h3> </button>
    </div>
    @if(tab1) {
        <div class="tab-content">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">SOCI 201</h5>
                <p class="card-text"> these cards would be the same cards used as planning.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">CPSC 571</h5>
                <p class="card-text">these cards would be the same cards used as planning.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">SENG 513</h5>
                <p class="card-text">these cards would be the same cards used as planning.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">CPSC 583</h5>
                <p class="card-text">these cards would be the same cards used as planning.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">CPSC 571</h5>
                <p class="card-text">these cards would be the same cards used as planning.</p>
                </div>
            </div>
        </div>
    }

        
    @if(tab2) {
        <div class="tab-content">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">SOCI 301</h5>
                <p class="card-text"> these cards would be the same cards used as planning.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">CPSC 571</h5>
                <p class="card-text">these cards would be the same cards used as planning.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">SENG 513</h5>
                <p class="card-text">these cards would be the same cards used as planning.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">CPSC 583</h5>
                <p class="card-text">these cards would be the same cards used as planning.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                <h5 class="card-title">CPSC 571</h5>
                <p class="card-text">these cards would be the same cards used as planning.</p>
                </div>
            </div>
        </div>
    }
</div>



<style>
  .tab {
    background-color: orange;
    padding-top:10px;
    }
 .card {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    }
.tab button{
    background-color: orange;
    border: none;
    outline: none;
    }
.tab:hover{
    background-color: orange;
}
.tab-content {
    background-color: #ffd16b;
    padding: 10px;
    overflow-y: scroll;
    max-height: 70vh;
    display:flex;
    flex-direction: column;
    scroll-behavior: smooth;
    border: thick double #ffd16b;
}



p    {color: black;}
</style>

@code {
    private bool tab1 = true;
    private bool tab2 = false;

    public void ActiveTab(int TabNumber) {
        switch(TabNumber) {
            case 1:
                this.tab1 = true;
                this.tab2 = false;
                break;
            case 2:
                this.tab1 = false;
                this.tab2 = true;
                break;
        }
    }
}
